<% if logged_in? %>
  <p>ログイン完了ユーザ：<%= current_user.name %></p>
  <div>
    <aside>
      <%= form_with(model: @task, local: true) do |f| %>

        <%= f.label :status, 'ステータス'%>
        <%= f.text_field :status %>
      
        <%= f.label :content, 'タスク' %>
        <%= f.text_field :content %>
        
        <%= f.submit '投稿' %>
      <% end  %>
    </aside>
  <div>
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
  </div>
<% else %>
  <div align="center">
    <h1>Welcome to the Tasklists</h1>
    <%= link_to 'Sign up now!', signup_path %>
  </div>
<% end %>